html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}
.cart-slider {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background: white;
  box-shadow: -3px 0 10px rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
  z-index: 9999;
}

.cart-slider.open {
  right: 0;
}
/* Floating WhatsApp Button */
.floating-whatsapp {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #25D366;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 9999;
  transition: transform 0.3s ease;
}
.floating-whatsapp:hover {
  transform: scale(1.1);
}

/* Floating Cart */
.floating-cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #7A2E2E;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 9999;
  transition: transform 0.3s ease;
}
.floating-cart:hover {
  transform: scale(1.1);
}

/* Cart Badge */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: yellow;
  padding: 3px 7px;
  border-radius: 50%;
  font-weight: bold;
  color: black;
  font-size: 12px;
}

/*Cart Slider */
.cart-slider {
  position: fixed;
  top: 0;
  right: -380px;
  width: 350px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -4px 0 15px rgba(0,0,0,0.2);
  transition: right 0.5s cubic-bezier(.25,.46,.45,1);
  z-index: 99999;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.cart-slider.open {
  right: 0;
}

/* Cart Header */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-header h4 {
  color: #7A2E2E;
  font-weight: bold;
}
.close-btn {
  background: #7A2E2E;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
}

/* Empty Cart */
.empty-cart {
  text-align: center;
  margin-top: 50px;
  opacity: 0.8;
}
.empty-cart img {
  width: 120px;
}

/* Cart Item */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff3f3;
  border: 1px solid #f1d0d0;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 12px;
}
.cart-item h6 {
  margin: 0;
  color: #7A2E2E;
}

/* Qty Buttons */
.qty-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
/* Qty Buttons */
.qty-box button {
  width: 35px;
  height: 35px;
  border: 2px solid #7A2E2E;
  border-radius: 50%;
  background: #fff;
  color: #7A2E2E;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
}

.qty-box button:hover {
  background: #7A2E2E;
  color: #fff;
}

/* Delete Cross  */
.delete-btn {
  background: none;
  border: none;
  font-size: 20px;
  display: flex;
   color: red;
  justify-content: center;
  align-items: center;
}

.qty-box span {
  font-weight: bold;
}
/* Cart Total */
.cart-total {
  margin-top: 20px;
  color: #7A2E2E;
  font-weight: bold;
}

/* Checkout Button */
.checkout-btn {
  background: #7A2E2E;
  color: white;
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
}

